@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
  }

  html {
    interpolate-size: allow-keywords;
  }
}

@layer utilities {
  @keyframes someComplexAnimation {
    0% {
      rotate: 0deg;
      height: 200px;
    }
    20% {
      rotate: 360deg;
      height: 20px;
    }
    60% {
      rotate: 360deg;
      height: 80px;
    }
    90% {
      rotate: 0deg;
      height: auto;
    }
    100% {
      rotate: 0deg;
      height: 200px;
    }
  }
}
